*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-background: #000;
	--color-backgroundTwo: #333;
	--color-lightOne: #ddd;
	--color-lightTwo: #f0e68c;
	--color-lightThree: #bdb76b;
	--color-error: #ff6347;
	--color-opacityOne: rgba(221, 221, 221, 0.3);
	--color-opacityTwo: rgba(240, 230, 140, 0.2);
	--color-opacityThree: rgba(189, 183, 107, 0.5);
}

body {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--color-background);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	position: relative;
	font-size: 3rem;
	margin: 0.2em 0em 0.4em;
	padding-bottom: 0.2em;
	color: var(--color-lightThree);
	&::before {
		position: absolute;
		content: '';
		width: 60%;
		height: 0.2em;
		bottom: 0;
		background-color: var(--color-lightThree);
	}
}

.text {
	color: var(--color-lightOne);
	margin-bottom: 1.6em;
	font-size: 1.2rem;
	width: 50%;
	text-align: center;
	line-height: 1.4em;
}

.wrapper {
	width: 50%;
	height: 72%;
	margin-bottom: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--color-backgroundTwo);
	border-radius: 25px;
	border: 1px solid var(--color-lightThree);
	padding: 2.4em;
	box-shadow: 5px 5px 20px var(--color-opacityThree);
}

.bmi {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 83%;
	&__heading {
		font-size: 2.2rem;
		margin-bottom: 0.2em;
		padding-bottom: 0.2em;
		border-bottom: 1px solid var(--color-opacityThree);
		color: var(--color-lightTwo);
	}
	&__error {
		// margin-bottom: 0.2em;
		font-size: 1.2rem;
		color: var(--color-error);
		visibility: hidden;
	}
	.actionError {
		visibility: visible;
	}
	&__label {
		width: 90%;
		margin: 0.8em 0em 0.4em;
		font-size: 1rem;
		color: var(--color-lightOne);
	}
	&__input {
		width: 90%;
		padding: 0.6em 0.4em;
		font-size: 1rem;
		font-weight: 600;
		border-radius: 12px;
		&-results {
			width: 90%;
			padding: 0.2em 0.3em;
			font-size: 1.5rem;
			font-weight: bolder;
			color: var(--color-background);
			background-color: var(--color-lightTwo);
			border-radius: 12px;
		}
	}
	&__btn {
		width: 90%;
		margin: 1.8em 0;
		display: flex;
		justify-content: space-between;
		&-results,
		&-clean {
			position: relative;
			padding: 0.6em 1.8em;
			font-size: 1.2rem;
			font-weight: bold;
			text-transform: uppercase;
			color: var(--color-lightThree);
			background: none;
			border: 1px solid var(--color-lightThree);
			border-radius: 12px;
			cursor: pointer;
			z-index: 1;
			overflow: hidden;
			transition: color 0.6s ease-in-out;
			&::before {
				position: absolute;
				content: '';
				width: 220px;
				height: 55px;
				border-radius: 50px;
				transform: translate(-130%, -28%);
				box-shadow: 0px 0px 20px var(--color-opacityThree);
				background-color: var(--color-opacityTwo);
				transition: transform 0.5s ease-in-out;
			}
			&:hover::before {
				transform: translate(-30%, -28%);
			}
			// &:hover {
			// 	// color: var(--color-lightOne);
			// }
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		margin: 1.6em 0;
		border-radius: 12px;
		padding: 1.4em;
		width: 90%;
		height: 210px;
		background-color: var(--color-lightThree);
		&-box {
			color: var(--color-background);
			font-size: 1.4rem;
			margin-bottom: 0.4em;
			font-weight: bold;
			display: flex;
			text-align: center;
		}
		&-advice {
			padding-top: 0.1em;
			font-size: 1rem;
			font-weight: bold;
			color: darkred;
			display: none;
		}
		.actionAdvice {
			display: block;
		}
		&-text {
			height: 85%;
			font-size: 0.9rem;
			font-weight: 600;
			text-align: center;
			color: var(--color-backgroundTwo);
			visibility: hidden;
		}
		.actionInfo {
			visibility: visible;
		}
	}
}
